:root {
  --opacity: 0;
}

* {
  box-sizing: border-box;
}

.reference {
  position: absolute;
  opacity: var(--opacity);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

label {
  color: white;
  font-weight: bold;
  z-index: 20;
  display: block;
}

.opacity-controls {
  position: absolute;
  background: black;
  padding: 10px;
  z-index: 11;
  right: 300px;
}

.opacity-controls input {
  width: 200px;
}

.container {
  position: absolute;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 60px 1fr;
}

/* ============= NAV ============= */

nav {
  /* background: cornflowerblue; */
  grid-column: 1 / 3;
  padding: 15px 22px 15px 25px;
  position: relative;
}

nav * {
  display: inline-block;
}

.hamburger {
  padding-top: 3px;
}

.hamburger img {
  width: 20px;
  height: 20px;
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: 80px;
  height: 24px;
}

.search {
  margin-left: 90px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.search input {
  width: 600px;
  height: 25px;
  border: 1px solid ghostwhite;
  padding: 5px;
}

.nav__buttons {
  position: absolute;
  right: 20px;
  bottom: 18px;
}

.nav__buttons > div {
  margin-right: 25px;
}

.nav__buttons img {
  width: 20px;
  height: 20px;
}

.nav__buttons__avatar img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.nav__buttons__avatar img {
  margin-top: 10px;
}

/* ============= MAIN ============= */

main {
  /* background: crimson; */
  display: grid;
  grid-template-rows: 740px 1fr;
}

.video {
  width: 1280px;
  height: 720px;
  background: black;
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}

.video .controls {
  width: 100%;
  height: 38px;
  background: white;
  align-self: flex-end;
  display: flex;
  padding-left: 20px;
  position: relative;
}

.progress {
  background: lightgrey;
  position: absolute;
  width: 1260px;
  height: 5px;
  left: 10px;
}

.controls img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.controls__left img:nth-of-type(3) {
  width: 30px;
  height: 30px;
}

.controls__right {
  position: absolute;
  right: 7px;
  top: 10px;
}

.controls__right img {
  margin-right: 12px;
}

.info {
  /* background: green; */
  margin-left: 100px;
  position: relative;
}

.info--right {
  position: absolute;
  right: 30px;
  top: 60px;
  display: flex;
}

.info--right > * {
  width: 20px;
  height: 20px;
}

.info--right img {
  margin-right: 15px;
}

.info--right img:nth-of-type(3) {
  margin-right: 5px;
}

.info--right span:nth-of-type(3) {
  margin-right: 40px;
}

.info--right span {
  margin-right: 20px;
}

.publisher__info {
  border-top: 1px solid grey;
  padding-left: 65px;
  padding-top: 5px;
  position: relative;
}

.subscribe {
  position: absolute;
  right: 15px;
  top: 25px;
  height: 35px;
  width: 135px;
  background: red;
  color: white;
  border: none;
}

.avatar {
  width: 50px;
  height: 50px;
  background: black;
  position: absolute;
  left: 0;
  top: 18px;
  border-radius: 50%;
}

.track-item:first-of-type {
  margin-top: 20px;
}

/* ============= SIDEBAR ============= */

aside {
  /* background: greenyellow; */
  padding-left: 15px;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.sidebar__top span:nth-of-type(2) {
  padding-right: 160px;
}

.sidebar__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 116px repeat(7, 1fr);
  padding-top: 15px;
  grid-row-gap: 8px;
}

.movie {
  position: relative;
}

.movie > div:nth-of-type(n + 2) {
  position: absolute;
  left: 180px;
  top: 0;
}

.movie__preview {
  background: black;
  width: 170px;
  height: 95px;
}

.movie__info {
  width: 175px;
}

.movie__preview--cut {
  background: black;
  width: 175px;
  height: 53px;
  /* display: none; */
}