:root {
  --opacity: 0.3;
}

* {
  box-sizing: border-box;
}

.reference {
  position: absolute;
  opacity: var(--opacity);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.opacity-controls {
  position: absolute;
  z-index: 11;
  right: 300px;
}

.container {
  position: absolute;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-template-columns: 1fr 530px;
  grid-template-rows: 60px 1fr;
}

/* ============= NAV ============= */

nav {
  background: cornflowerblue;
  grid-column: 1 / 3;
  padding: 15px 22px 15px 25px;
  position: relative;
}

nav * {
  display: inline-block;
}

.hamburger {
  padding-top: 3px;
}

.hamburger img {
  width: 20px;
  height: 20px;
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: 80px;
  height: 24px;
}

.search {
  margin-left: 90px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.search input {
  width: 600px;
  height: 25px;
  border: 1px solid ghostwhite;
  padding: 5px;
}

.nav__buttons {
  position: absolute;
  right: 20px;
  bottom: 18px;
}

.nav__buttons > div {
  margin-right: 25px;
}

.nav__buttons img {
  width: 20px;
  height: 20px;
}

.nav__buttons__avatar img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.nav__buttons__avatar img {
  margin-top: 10px;
}

main {
  background: crimson;
}

aside {
  background: greenyellow;
}